#head-1 {
  background-image: url(./assets/main-bg.jpg);
  background-size: cover;
  background-position: bottom;
  min-height: 100vh;
}

/* Navbar */
.navbar {
  text-transform: uppercase;
}

#loginBtn {
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
  text-transform: uppercase;
  color: rgb(152, 149, 145);
}

/* Main Title */
.main-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-bottom: 100px;
  gap: 50px;
}

.main-title a {
  width: 250px;
  height: 60px;
  text-align: center;
}

.main-title h1 {
  color: white;
  text-transform: uppercase;
  font-size: 86px;
}

.main-title p {
  font-size: 24px;
  color: white;
}

/* Game Lists */
#game-lists {
  background-image: url(assets/the-games-bg.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-basis: 50%;
  justify-content: space-evenly;
  align-items: center;
}

.game-text {
  align-self: flex-start;
  padding-top: 250px;
}

.game-text h1 {
  color: white;
  font-size: 30px;
}

.game-text p {
  color: white;
  font-size: 60px;
  text-transform: uppercase;
}

.game-pic {
  margin-top: 100px;
  width: 800px;
  height: 400px;
}

.carousel-indicators li {
  padding: 5px;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  margin-left: 10px;
  background-color: transparent;
  border: 1px solid white;
}

.game-pic img {
  width: 100%;
  height: 50%;
}

.game-pic a img {
  width: 34px;
  height: 50px;
}

.carousel-control-prev {
  margin-left: -100px;
}
.carousel-control-next {
  margin-right: -100px;
}

/* Game Features */
#features {
  background-image: url(assets/features1.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 100px;
}

.feat-title {
  gap: 30px;
  margin-top: 30px;
  color: white;
}

.feat-title h1 {
  color: white;
  font-size: 24px;
}

.container-timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.container-timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: -2%;
  margin-left: -20px;
  margin-top: 15px;
  height: 189px;
}

.bullet::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  left: -40px;
  background-color: white;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.features2::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  left: -40px;
  background-color: transparent;
  border: 2px solid white;
  top: 202px;
  border-radius: 50%;
  z-index: 1;
}

.features3::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  left: -40px;
  background-color: transparent;
  border: 2px solid white;
  top: 280px;
  border-radius: 50%;
  z-index: 1;
}

.circle1 h2 {
  color: #ffb548;
  font-weight: 400;
  font-size: 40px;
  text-transform: uppercase;
}

.circle2,
.circle3 {
  font-size: 40px;
}

.circle1 p {
  color: white;
  font-size: 18px;
}

.circle2 {
  margin-top: 100px;
}

.circle2 p,
.circle3 p {
  font-weight: 400;
  color: #ffb548;
  text-transform: uppercase;
}

.p1 {
  font-size: 56px;
  text-transform: uppercase;
  padding-bottom: 50px;
}

/* System Requirements */
#sysreq {
  background-image: url(assets/requirements1.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
  text-align: center;
  padding: 50px;
}

#sysreq .container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 50px;
}

#sysreq h1 {
  font-family: arial;
  font-size: 14px;
  letter-spacing: 2px;
}

#sysreq h2 {
  font-size: 56px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  padding: 30px;
  text-align: start;
}

.table {
  width: 700px;
  height: 500px;
}

.table h3 {
  font-size: 24px;
  text-transform: uppercase;
  color: #ffb548;
  text-align: start;
  font-weight: 400;
}

.table p {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  text-align: start;
}

/* Top Scores & Footer */

#container-bottom {
  display: flex;
  background-image: url(assets/rec2.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.t-score {
  height: 100vh;
  gap: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.score-title {
  margin-bottom: 30px;
  padding: 50px;
}

.score-title h1 {
  padding: 20px 20px 20px 0;
  text-transform: uppercase;
  color: white;
  font-size: 56px;
  font-family: Arial, Helvetica, sans-serif;
}

.score-title p {
  padding: 20px 20px 20px 0;
  color: white;
  width: 500px;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}

.score-title button {
  width: 200px;
  height: 60px;
}

.card img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.card {
  background: rgba(25, 26, 27, 0.8);
  border-radius: 10px;
  width: 450px;
}

.main-card {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.card h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: #ffb548;
}

.top-score {
  width: 400px;
}

.card p {
  color: white;
  margin-top: 20px;
}

.top-score2 {
  transform: translateX(-100px);
}

.top-score3 {
  transform: translateX(100px);
}

/* Footer */
footer {
  margin: auto;
  width: 80%;
  /* padding-top: -100px; */
}

.box {
  display: flex;
  flex-direction: column;
}

.footer1 {
  display: flex;
  justify-content: center;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  color: white;
  gap: 100px;
  border-bottom: 1px solid white;
  justify-content: flex-end;
}

.footer-list,
.footer-list2 {
  list-style: none;
}

.footer-list li,
.footer-list2 li {
  display: inline;
  margin-right: 50px;
}

.footer2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-copyright li {
  padding-top: 30px;
  list-style: none;
  justify-self: flex-start;
  color: rgba(131, 132, 133, 1);
}

.footer-terms li {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  padding-top: 30px;
  font-weight: 400;
  list-style: none;
  color: white;
  text-transform: uppercase;
}
